/* General Tweaks and General Changes*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts / Text Specifications and Coloring */

@font-face {
  font-family: "Livvic";
  src: url("../Fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Livvic";
  src: url("../Fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.WhiteText {
  color: #fff;
}

.LightCoralHighlight {
  color: #f67e7e;
  display: inline;
  margin: 0;
  padding: 0;
}

.Section1H1 {
  font-family: "Livvic";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  margin-left: 0;
  position: relative;
}

.Section1Paragraph {
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

/* Text Padding / Sizing */

.S1H1Sizing {
  width: 635px;
  margin-left: 65px;
}

.S1ParagraphSizing {
  width: 445px;
}

/* Section Sizing / Tweaks / Coloring */

/* Navigation on the TOP */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%; /* Užpildyti pilną ekrano plotį */
  background: #014e56;
  width: 1440px;
  height: 250px;
}
.logo {
  width: 160px;
  height: 40px;
  top: 77px;
  position: absolute;
  left: 165px;
}
.nav-button {
  margin: 0 20px;
  position: relative;
  background: none; /* Pašalina mygtuko foną */
  border: none; /* Pašalina mygtuko kontūrą */
  color: white; /* Nustato teksto spalvą kaip baltą */
  font-size: 16px; /* Pritaiko teksto dydį */
}
.home-button {
  position: absolute;
  top: 83px;
  left: 405px;
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.home-button:hover {
  color: #f67e7e;
  cursor: pointer;
}

.about-button {
  position: absolute;
  top: 83px;
  left: 485px; /* home-button left (+40px) */
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.about-button:hover {
  color: #f67e7e;
  cursor: pointer;
}

.contact-button {
  width: 153px; /* Išorės apvado plotis */
  height: 48px; /* Išorės apvado aukštis */
  top: 73px;
  flex-shrink: 0; /* Išorės savybės */
  border: 2px solid #fff; /* Apvado spalva */
  border-radius: 24px; /* Suapvalinti kampai */
  background: none; /* Pašalina mygtuko foną */
  padding: 10px; /* Vidaus turinys */
  color: #fff; /* Teksto spalva */
  font-family: Livvic; /* Šriftas */
  font-size: 18px; /* Šrifto dydis */
  font-style: normal; /* Šrifto stilius */
  font-weight: 600; /* Šrifto svoris */
  line-height: 28px; /* Linijos aukštis */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); /* Pridėtas šešėlis */
  outline: none; /* Pašalina išorinį apvadą fokusuojant */
  cursor: pointer; /* Rodyklės forma nusikeliant */
  position: absolute; /* Absoliutus pozicionavimas */
  right: 198px; /* Atstumas nuo dešinės krašto */
}

.contact-button:hover {
  background-color: #fff; /* Fono spalva rašant */
  color: #002529;
}

/* Section 1 */

.Section1 {
  width: 1440px;
  height: 450px;
  background-color: #014e56;
  position: relative;
}

.S1LeftDesign {
  margin-left: -100px;
}

.S1BottomRightDesign {
  position: absolute;
  bottom: -4px;
  right: 165px;
}

.S1Container {
  display: flex;
  width: 445px;
  height: 195px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 79px;
  flex-shrink: 0;
  margin-left: 30px;
}

.rectangle {
  background-color: #79c8c7;
  width: 50px;
  height: 4px;
  flex-shrink: 0;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* Desktop Body Section 3 start */
.section-3 {
  width: 1440px;
  height: 745px;
  position: relative;
  background: #004047;
}

.flex-container_section-3 {
  display: flex;
  flex-direction: column;
}

.section-3-heading {
  width: 932px;
  height: 96px;
  margin-top: 140px;
  margin-right: 254px;
  margin-left: 254px;
  color: #FFF;
  text-align: center;
  font-family: Livvic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

.highlight-success-stories {
color: #79C8C7;
font-family: Livvic;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 48px;
}

.testimonials-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  height: 313px;
  padding-top: 56px;
  margin-left: 165px;
  margin-right: 165px;


}

.testimonial {
  width: 350px;
  margin-top: 36px;
  color: #FFF;
  text-align: center;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
}

.testimonial-1 .testimonial-2 .testimonial-3 {
  display: flex;
  flex-direction: column;
}

.testimonial-author {
  margin-top: 24px;
}

.testimonial-author-name {
  color: #79C8C7;
text-align: center;
font-family: Livvic;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}

.testimonial-author-credentials {
  color: #FFF;
text-align: center;
font-family: Livvic;
font-size: 13px;
font-style: italic;
font-weight: 500;
line-height: 18px; /* 138.462% */
}

.testimonial-img {
  margin-top: 32px;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  border: 2px solid #C4FFFE;
  background: lightgray 50% / cover no-repeat;
}

.bg-pattern-home-5 {
  width: 200px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0; 
}

/* Desktop Body Section 3 end */

/* Article */

.article {
  width: 1440px;
  height: 200px;
  flex-shrink: 0;
}

.mask {
  width: 1440px;
  height: 200px;
  background-color: #f67e7e;
  position: relative;
  margin: 2129px auto 0;
}

.content {
  position: absolute;
  top: 76px;
  left: 263px;
  right: 673px;
  color: #012f34;
}

.content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-family: "Livvic";
  src: url("../Fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.button {
  display: inline-block;
  width: 153px;
  height: 48px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Livvic";
  src: url("../Fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 24px 24px 24px 24px;
  border: 2px solid #012f34;
  color: #012f34;
  font-weight: 600;
  opacity: 1;
}

.button:hover {
  background-color: #012f34;
  color: #ffffff;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 76px;
  bottom: 76px;
  left: 1027px;
  right: 260px;
}

.image-container {
  position: absolute;
  top: 56px;
  left: 0;
  width: 200px;
  height: 244px;
}

.image-container img {
  position: relative;
  height: auto;
}

/*footer */

.footer {
  width: 1440px; /* Bendras skilties plotis */
  height: 196px; /* Bendras skilties aukštis */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #002529; /* Fono spalva */
}

.footer-container {
  width: 1110px; /* Konteinerio nr-2 plotis */
  height: 100px; /* Konteinerio nr-2 aukštis */
  flex-shrink: 0;
  position: relative;
}

.footer-logo {
  width: 160px; /* Logotipo plotis */
  height: 40px; /* Logotipo aukštis */
  flex-shrink: 0;
  position: absolute;
}

.footer-nav-buttons {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px; /* Atstumas nuo apačios */
}

.footer-nav-button:hover {
  color: #f67e7e;
  cursor: pointer;
}

.footer-nav-button {
  background: none; /* Pašalina mygtuko foną */
  border: none; /* Pašalina mygtuko kontūrą */
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.footer-nav-button:hover {
  color: #f67e7e;
  cursor: pointer;
}

.footer-nav-about {
  position: absolute;
  left: 89px;
}

.footer-contact {
  width: 445px;
  color: #fff;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.6;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social-network {
  width: 104px; /* Socialinių tinklų logotipo plotis */
  height: 24px; /* Socialinių tinklų logotipo aukštis */
  flex-shrink: 0;
  position: absolute;
  top: 0px;
  right: 0px; /* Atstumas nuo dešinės krašto */
}

.footer-copyright {
  width: 255px; /* Užrašo "Copyright" plotis */
  color: #fff;
  text-align: right;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.6;
  position: absolute;
  right: 0px; /* Atstumas nuo dešinės krašto */
  bottom: 0px; /* Atstumas nuo apačios */
}

/* Section 2 */




/* ABOUT.HTML */

.About-Page .S1H1Sizing {
  font-family: "Livvic";
  width: 350px;
  height: 100px;
  margin-left: 165px;
  font-size: 64px;
  line-height: 56px;
}
.About-Page .S1ParagraphSizing {
  width: 730px;
} 

.About-Page .S1Container{
  width: 730px;
  height: 156px;
  gap: 44px;
  margin-left: 50px;
}
.About-Page .S1BottomRightDesign {
  position: absolute;
  bottom: -4px;
  right: -100px;
  width: auto;
  height: auto;
}
.About-Page .Section1{
  height: 267px;
  overflow: hidden;
}

.About-Page .rectangle{
  background-color: #F67E7E;
}

